<div class="container">
   <app-cockpit
   (bpCreated)="onBlueprintAdded($event)"
   (serverCreated)="onServerAdded($event)"></app-cockpit>
  <hr>
  <div class="row">
    <div class="col-xs-12">
       <app-server
        *ngFor="let item of serverElements"
        [srvElement]="serverElement"
        >
       <p #contentParagraph>
        <strong *ngIf="serverElements.type === 'server'" style="color: red">{{ serverElements.content }}</strong>
        <em *ngIf="serverElements.type === 'blueprint'">{{ serverElements.content }}</em>
      </p>
    </app-server>
      </div>
  </div>
</div>
